body{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
    margin:0px;
    padding:0px;
}
.top{
	width:100%;
	position: relative;
	z-index:30;
	background: #333;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	color:#b0b0b0;
	font-size:12px;
}
.top-left{
	line-height: 40px;
	color:#b0b0b0;
    font-size:12px;
    display:inline-block;
}
a{
	color: #757575;
    text-decoration: none;
}