body{
	margin:0px;
	padding:0px;
	color:#000;
}
td{
	font-size:13px;
	height:22px;
}
        
#div1{
	font-size:30px;
	float:left;
	text-align:center;
	width:100%;
	height:500px;
	background:#6cc;
}
a{ 
text-decoration:none; 
color:#000; 
} 
.main{
	width:80%;
	background: #eee;
	margin:0 auto;
	min-height:800px;
}
.mains{
	width:80%;
	background: #eee;
	margin:0 auto;
	min-height:500px;
}

.text-center{
	text-align: center;
}
.header{
	width:100%;
	height:40px;
	background:#f96;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color:white;
}
.nav{
	width:100%;
	height:2px;
	background: #eee;
}
.menu{
	width:100%;
	height:30px;
	background: #f96;
}
.menu-list{
	width:80px;
	margin-left: 20px;
	height:100%;
	float:left;
	line-height: 30px;
	background: #f96;
	-webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}

button { /* 按钮美化 */
	margin:5px 0px 5px 20px;
	width: 100; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #096; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: #000; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}
button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #085;
	color:white;
}
#nbnb2{
	float:left;
	width:100px;
	height: 200px;
	background: blue;
	border-radius:100px 0 0 100px;
}
#nbnb3{
	float:left;
	width:100px;
	height: 200px;
	background: red;
	border-radius:0 100px 100px 0;
}
#bigbox{
	float:left;
	margin-left:33.5%;
	margin-top:30px;
}
.nowtime{
	margin: 20px;
	color:#096;
	font-size: 18px;
	font-weight: bold;
}
.biyetime{
	margin-bottom:20px;
	margin-left:10%;
	width: 80%;
	height: 90px;
	font-size:20px;
	text-align: center;
	line-height: 90px;
	border:2px solid #abc;
}
#day,#h,#ii,#h,#s,#ms{
	font-size:60px;
	font-weight: both;
	color:blue;
	}
#daohuoxian{
	width:2px;
	height:100px;
	border:1px solid black;
	background: black;
	margin-left:100px;
}
#xiao{
	width:12px;
	height:8px;
	background: rgb(255,0,0);
	margin-left:96px;
}
#zhadan{
	width:200px;
	height:200px;
	border-radius:100px;
	background: black;
}

.index_content{
	margin-top: 100px;
}