body{
	margin:0px;
	padding:0px;
	color:#000;
}
td{
	font-size:13px;
	height:22px;
}
        
#div1{
	font-size:30px;
	float:left;
	text-align:center;
	width:100%;
	height:500px;
	background:#6cc;
}
a{ 
text-decoration:none; 
color:#000; 
} 
.main{
	width:100%;
	background: #eee;
	margin:0 auto;
	position: relative;
	min-height:800px;
}
.mains{
	width:100%;
	background: #eee;
	margin:0 auto;
	min-height:500px;
}

.text-center{
	text-align: center;
}
.header{
	width:100%;
	height:40px;
	background:#f96;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color:white;
	font-weight:bold;
}

.nav{
	width:100%;
	height:2px;
	background: #eee;
}
.menu{
	width:100%;
	height:30px;
	background: #f96;
	position: relative;
}
.menu-list{
	width:80px;
	margin-left: 20px;
	height:100%;
	float:left;
	line-height: 30px;
	background: #f96;
	-webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.menu_list:hover{
	color:white;
}
button { /* 按钮美化 */
	margin:5px 0px 5px 20px;
	width: 100; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #096; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: #000; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}
button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #085;
	color:white;
}
#nbnb2{
	float:left;
	width:100px;
	height: 200px;
	background: blue;
	border-radius:100px 0 0 100px;
}
#nbnb3{
	float:left;
	width:100px;
	height: 200px;
	background: red;
	border-radius:0 100px 100px 0;
}
#bigbox{
	float:left;
	margin-left:33.5%;
	margin-top:30px;
}
.nowtime{
	/*margin: 20px;*/
	color:#096;
	font-size: 14px;
	position: absolute;
	left:20px;
	display: inline;
	float:left;
}
.biyetime{
	position: absolute;
	top:0px;
	left:140px;
	width: 240px;
	height: 40px;
	font-size:14px;
	text-align: center;
	line-height: 40px;
}

#day,#h,#ii,#h,#s{
	font-size:14px;
	font-weight: both;
	color:blue;
	}
.login{
	float:right;
	margin-right:20px;
}
#login{
	display:none;
	position: absolute;
	width:300px;
	height:340px;
	top:40px;
	right:10px;
	box-shadow:0px 0px 8px #333;
	background: #f96;
}
.login-title{
	width:100%;
	height:100px;
	line-height: 100px;
	font-size:25px;
	font-weight: bold;
	text-align:center;
}
input{
	width:80%;
	height:30px;
	border-radius: 3px;
	margin-left:30px;
	margin-bottom:20px;


	 outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	-webkit-user-select: text ;
	outline-color: transparent ;
	box-shadow: none;
	box-shadow:0px 0px 8px #333;

}
.v{
	width:38%;
}
#code{
	background: #777;
	width:18%;
	margin-right:30px;
}
#check{
	margin-top:10px;
	width:80%;
	margin-left:30px;
}
.close{
	font-size:20px;
	position: absolute;
	font-weight: bold;
	top:10px;
	right:10px;
	background: #e91e63;
	width:35px;
	height:30px;
	border-radius: 3px;
	box-shadow: 0 0 8px #333;
	line-height: 30px;
	text-align: center;
	cursor:pointer;
}
.close:hover {
	color:white;
}
#me{
	display: none;
}
.style{
	width:200px;
	height:30px;
	position: absolute;
	top:0px;
	right:0px;
}
.style input{
	width:50px;
	margin-left:10px;
	margin-top:2px;
}
#search{
	position: relative;
	margin:20px;
	width:600px;
	margin:0 auto;
	height:35px;
}
#search input{
	margin:0px;
	width:80%;
	height:100%;
	padding:0px;
}
.index_content .btnl{
	position: relative;
	border-radius: 0px;
	/*top:0px;*/
	height:35px;
	width:60px;
	padding:0px;
	margin:0px;
	box-shadow: 0 0 5px #333;
}
.index_content .btnr{
	position: absolute;
	border-radius: 0px;
	top:0px;
	right:0px;
	height:35px;
	width:60px;
	padding:0px;
	margin:0px;
	box-shadow: 0 0 5px #333;
}
#divsss{
	margin:10px;
	margin-bottom: 5px;
	display: none;
}
.search_input{
	position: absolute;
	display: inline-block;
	width:600px;
	height:35px;
	left:60px;
	/*border:1px solid black;*/
	/*background: red;*/
}

#big{
	width:900px;
	height: 370px;
	/*border:5px solid #abc;*/
	box-shadow: 0 0 15px #333;
	margin:0 auto;
	margin-top:20px; 
}
#big img{
	display:none;
	position: absolute;
	width:900px;
	height:370px;
}
#left{
	width:30px;
	height:30px;
	background: orange;
	position:relative;
	left:0px;
	top:170px;
	font-size:30px;
	line-height: 30px;
	text-align:left;
	cursor:pointer;
}
#right{
	width:30px;
	height:30px;
	background: orange;
	position:relative;
	left:870px;
	font-size:30px;
	line-height: 30px;
	text-align:right;
	top:140px;
	cursor:pointer;

}
#list{
	width:900px;
	margin:0 auto;
	min-height:1860px;
	background: #666;
	margin-top:20px;
}
.list{
	width:215px;
	background: #f96;
	height:300px;
	float: left;
	margin:5px;
}
#footer{
	width:100%;
	height:300px;
	background: #f96;
	margin-top:10px;
}