#content{
	width:600px;
	min-height:400px;
	border:solid 1px #ddd;
	margin: 0 auto;
}
.item{
	width:100px;
	height:100px;
	background:#aef;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	border-radius:50%;
	overflow:hidden;
}